<mat-toolbar color="primary">
    <mat-toolbar-row>
        <form class="example-form"  #myForm="ngForm">
            <mat-form-field class="example-full-width">
              <input matInput   [matAutocomplete]="auto"  placeholder="YouTube Search" name="search" id="search" [(ngModel)]="search" (ngModelChange)="selectedSearch(search)">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of youtubeData " [value]="option.snippet.channelTitle">
                  {{option.snippet.channelTitle}}
                </mat-option>
              </mat-autocomplete> 
            </mat-form-field>
          </form>
          <div class="userInformation" >
          <h4 class="loginUser" *ngIf="user">{{ user.name }}</h4>
          <h4 class="loginUser" (click)="signOut()" *ngIf="user">Logout</h4>
          </div>
        

    </mat-toolbar-row>
    
</mat-toolbar>

<app-search-result [youtubeData]="youtubeData"></app-search-result>


